/.vs/
/build/
/out/
/dist/
/package/
/Testing/
/CMakeFiles/
/_CPack_Packages/
*.user
*.suo
*.VC.db
*.VC.VC.opendb
*.obj
*.lib
*.exp
*.exe
*.dll
*.pdb
*.ilk
*.idb
*.tlog
*.lastbuildstate
*.log
*.zip
*.7z
*.partial
*.tmp
*.pcap
*.pcapng
*.abcr
*.abcr2
*.abct
*.npz
compile_commands.json
CMakeCache.txt
CMakeUserPresets.json
cmake_install.cmake
CTestTestfile.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
install_manifest.txt
/local/
/sessions/
/exports/
/research_exports/
media/music/.mci_cache/
